.movies {
  margin: 0;
  margin-bottom: 120px;
}

.movies__content {
  display: flex;
  flex-flow: column;
  gap: 64px;
}

.movies__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.movies__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(224px, auto));
  gap: 64px 40px;
  counter-reset: counter;
}

.movies__img {
  display: block;
  border-radius: 16px;
  overflow: hidden;
}
